{% extends "index/base.html" %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body, html {
  height: 100%;
}


</style>
</head>
<body>

<h3><center>An easy and Intutive way to administrate kennels</center></h3>

<h5> <center>About us</center></h5>
<p>We strive for a cleaner and better administrative experience,  so we make sure to keep our software up to date and have the up most security.  
    Our software is just as capable as other downloaded software but this runs in your browser making it easy to access from a phone, tablet, or computer.


</p>
</body>
</html>


{% endblock content %}