{% extends "index/base.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ object.author }}</a>
        <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
        
          <div>
            <button class="btn btn-secondary btn-sm mt-1 mb-1" onclick="window.print()" >Print</button>

            
          </div>
     
      </div>
      <h2 class="article-title">{{ object.Name_of_animal }}</h2>
      <p class="article-content">{{ object.Last_Name }}</p>
    </div>
  </article>
{% endblock content %}
